* {
    font-family: verdana, sans-serif;
    color: darkblue;
}

.logo {
    position: absolute;
    width: 250px;
}

/*expanding nav bar */
.menu-content {
    font-weight:300;
    padding: 0 0 0 50px;
    text-align:right;
}

.collapsible-menu {
    padding: 20px 0px 20px 0px;
}
/* no bullet points */
.collapsible-menu ul{
    list-style-type: none;
}
/* menu to list block instead of inline with some spacing and no underlines */
.collapsible-menu a{
    display:block;
    padding: 5px 15px 5px 0px;
    text-decoration: none;
}

.collapsible-menu label{
    display:block;
    text-align: right;
    margin-right: 15px;
    cursor: pointer;
    font-weight:900;
    padding: 10px 0px 10px 0px;
}

/* don't display the checkbox */
input#menu {
     display:none; 
}
/* default: hide the menu container */
.menu-content {
    max-height:0;
    overflow: hidden;
}

.menu-content a:hover {
    background-color:lightblue;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

/* nav bar across top of page...using a grid 
.menu-bar{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    
}


.menu {
    margin: 0px;
    grid-column 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.menu-item {
    justify-items: center;
    align-items: center;
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
    padding: 20px;
    border: 2px solid darkblue;
    list-style:none;    
}


.menu-item a{
    text-decoration: none;
    word-wrap:normal;
}

.menu-item:hover{
    background-color: lightblue; 
}
*/

/* recent projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-item {
    justify-items: center;
    margin: 10px;
    height: 250px;
    overflow:hidden;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 20px;
}

.project-item img { 
    margin: -40px 0px -60px 0px;
    height: 300px;
    object-fit: scale-down;
}

.project-item img:hover {
    background-color: lightblue;
}